<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/usuario/login">
    Loguear
</a>

<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/api/usuario/logout">
    Desloguear
</a>